@font-face {
    font-family: "Cyborg";
    src: url("./fonts/Cyborg-ZV7eq.ttf");

}
@font-face {
    font-family: "Exo Space";
    src: url("./fonts/Exo\ Space\ DEMO.ttf");
}
body{
    margin: 0;
}
/* #14e956 - dark green */
/* #fdfdfd - gray */
/* #10e956 - green lime */
/* 050810 - dark */
h1{
    font-family: "Cyborg";
}
.header__logo{
    width: 72px;
}
.header{
    background-color: #10e956;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__burger{
    width: 50px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.header__line{
    width: 100%;
    height: 8px;
    background-color: black;
    border-radius: 10px;

}
.line2{
    width: 75%;
}
.line3{
    width: 50%;
}
.help{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-image: url(./img/background1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.help__peace{
    width: 50px;
    animation: move_image 1s infinite linear ;
    transform-origin: center bottom;
}
.help__block{
    width: 400px;
    background-color: #123d266a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: "Exo Space";
    font-size: 20px;
    color: #10e956;
    font-size: 1.6em;
    display: flex;
    align-items: center;

}
.help__text h1{
    color: white;
    font-family: "Exo Space";

}
.help__green{
    font-family: "Cyborg";
    color: #10e956;
}
.help__text{
    width: 45%;
}
.help__under{
    color: gray;
    width: 90%;
    font-family: "Exo Space";

}
@keyframes move_image {
    0%{
        transform: rotate(0deg) translateX(0) scale(100%);
    }
    25%{
        transform: rotate(5deg) translateX(5px) scale(103%);
    }
    50%{
        transform: rotate(0deg) translateX(0) scale(106%);
    }
    75%{
        transform: rotate(-5deg) translateX(-5px) scale(103%);
    }
    100%{
        transform: rotate(0deg) translateX(0) scale(100%);
    }
    

}
.tools{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #050810;
}
.tools__card{
    width: 150px;
    background-color: greenyellow;
    display: flex;
    border-radius: 10px;
    font-family: "Exo Space";
    align-items: center;
    gap: 5px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    

}
.tools__card img{
    width: 40px;

}
.tools h1{
    width: 240px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #12141d;
    box-shadow: inset 0 0 4px 1px #14e956;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 13px;
    color: #14e956;
    font-size: 45px;
    
}
.tools__block{
    display: flex;
    background-color: #0c8c34;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    padding: 40px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 1;
}
.phone__img{
    width: 100%;
}
.phone__buttons{
    display: flex;
}
.phone__block{
    width: 50%;
    margin: auto;
    background-color: #fdfdfd;
    border-radius: 20px;
    font-family: "Exo Space";

    
}
.phone{
    background-image: url(./img/image.jpg);
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    position: relative;
    width: 100%;

}
.phone__general{
    /*background-color: white;*/
    padding: 20px;
}
.phone__buttons{
    padding-left: 20px;
    border-radius: 20px;

    
}
.phone__button2{
    margin-left: 20px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: 2px solid #1e2128;
    font-family: "Exo Space";
}
.phone__button1{
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #1e2128;
    border: 2px solid #1e2128;
    font-family: "Exo Space";
}
.phone__animate{
    height: 50px;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 10px;
    position: relative;
}
.phone__button3{
    width: 100%;
    height: 100%;
    background-color: #14e956;
    border-radius: 10px;
    border: none;
    font-family: Cyborg;
    font-weight: 900;
    background: #14e956;
    background-color: #14e956;
    background-image: linear-gradient(315deg, #14e956, #72f29a);
    font-size: 25px;

}
.phone__line{
    width: 100%;
    height: 100%;
    border:4px solid #72f29a;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    animation: move 1s infinite linear;
    transform-origin: center center;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes move {
    0%{
        width: 0%;
        height: 0%;
        opacity: 1;

    }
    80%{
        opacity: 1;
    }
    100%{
        width: 120%;
        height: 150%;
        opacity: 0;
    }
}
@media screen and (max-width: 425px){
    .help__block{
        width: 250px;
    }
    .help{
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .help__text{
        width: 100%;
    }
    .tools{
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .tools__card{
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 4px;
        padding-right: 4px;
        width: 85px;
    }
    .phone{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .phone__block{
        width: 90%;
    }
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 375px){
    .tools__card{
        width: 165px;
    }
    .tools h1{
        margin-bottom: 30px;
    }
    .phone__block{
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .phone {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0;
    }

}
