@font-face {
    font-family: "Cyborg";
    src: url("./fonts/Cyborg-ZV7eq.ttf");

}
@font-face {
    font-family: "Exo Space";
    src: url("./fonts/Exo\ Space\ DEMO.ttf");
}
body{
    margin: 0;
}
/* #14e956 - dark green */
/* #fdfdfd - gray */
/* #10e956 - green lime */
/* 050810 - dark */
h1{
    font-family: "Cyborg";
}
.header__logo{
    width: 72px;
}
.header{
    background-color: #10e956;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__burger{
    width: 50px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.header__line{
    width: 100%;
    height: 8px;
    background-color: black;
    border-radius: 10px;

}
.line2{
    width: 75%;
}
.line3{
    width: 50%;
}
.help{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-image: url(./img/background1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.help__peace{
    width: 50px;
    animation: move_image 1s infinite linear ;
    transform-origin: center bottom;
}
.help__block{
    width: 400px;
    background-color: #123d266a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: "Exo Space";
    font-size: 20px;
    color: #10e956;
    font-size: 1.6em;
    display: flex;
    align-items: center;

}
.help__text h1{
    color: white;
    font-family: "Exo Space";

}
.help__green{
    font-family: "Cyborg";
    color: #10e956;
}
.help__text{
    width: 45%;
}
.help__under{
    color: gray;
    width: 90%;
    font-family: "Exo Space";

}
@keyframes move_image {
    0%{
        transform: rotate(0deg) translateX(0) scale(100%);
    }
    25%{
        transform: rotate(5deg) translateX(5px) scale(103%);
    }
    50%{
        transform: rotate(0deg) translateX(0) scale(106%);
    }
    75%{
        transform: rotate(-5deg) translateX(-5px) scale(103%);
    }
    100%{
        transform: rotate(0deg) translateX(0) scale(100%);
    }
    

}
.tools{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #050810;
}
.tools__card{
    width: 120px;
    background-color: greenyellow;
    display: flex;
    border-radius: 10px;
    font-family: "Exo Space";
    align-items: center;
    gap: 5px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    

}
.tools__card img{
    width: 40px;

}
.tools h1{
    width: 240px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #12141d;
    box-shadow: inset 0 0 4px 1px #14e956;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 13px;
    color: #14e956;
    font-size: 45px;
    
}
.tools__block{
    display: flex;
    background-color: #0c8c34;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    padding: 40px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 1;
}
.phone__img{
    width: 50%;
}

